<!--<h3>Contact us:</h3>-->
<!--<form action="" method="post">-->
    <!--<input type="text" class="form-control" name="name" placeholder="Your name"><br>-->
    <!--<input type="text" class="form-control" name="email" placeholder="Your email"><br>-->
    <!--<textarea class="form-control" name="message" placeholder="Your message"></textarea><br>-->
    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>-->
<!--</form>-->

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>
                    Форма заявки о потере документа
                </h1>
                <p>
                    Пожалуйста выберите потерянный документ из списка:
                </p>
                <section>
                    <div class="">
                        <div class="carousel shadow">
                            <div class="carousel-button-left"><a href="#"></a></div>
                            <div class="carousel-button-right"><a href="#"></a></div>
                            <div class="carousel-wrapper">
                                <!--<div class="carousel-items">-->
                                <!--<div class="carousel-block  text-center">-->
                                <!--<figure>-->
                                <!--<figcaption>-->
                                <!--Passport-->
                                <!--</figcaption>-->
                                <!--<img src="./img/passport.jpg" alt="" />-->
                                <!--<button class="btn btn-warning" type="submit">Выбрать</button>-->
                                <!--</figure>-->
                                <!--</div>-->

                                <!-- $(".carousel-wrapper").html(resultHtml); - перезатирает -->

                                <!--</div>-->


                            </div>
                        </div>
                    </div>
                    <!-- ===================== Форма ================================ -->
                    <!-- ===================== Форма ================================ -->
                    <!--<div><p>Date: <input type="text" id="datepicker"></p></div>-->
                    <form action="" method="post">
                        <div class="lost-form" ></div>
                        <div id="hidden1"><p><label class='col-form-label d-flex'><span class='col-sm-3'>Дата выдачи </span><input type="text" id="datepicker1"></label></p>
                        </div>
                        <div id="hidden2"><p><label class='col-form-label d-flex'><span class='col-sm-3'>Дата окончания</span><input type="text" id="datepicker2"></label></p>
                        </div>
                        <div class="contact" ></div>
                        <!--<select name="lost-doc">-->
                        <!--<option value="passport">Паспорт</option>-->
                        <!--<option value="passport_new">Паспорт биометрический</option>-->
                        <!--<option value="drive_old">Права(старого образца)</option>-->
                        <!--<option value="drive_new">Права(пластик)</option>-->
                        <!--<option value="diploma">Диплом</option>-->
                        <!--<option value="birth_certificate">Свидетельство о рождениее</option>-->

                        <!--</select>-->
                        <!--<button class="button" type="submit">Продолжить</button>-->
                    </form>
                </section>
            </div>

            <aside class="col-md-3">
                <h4>
                    Объявление
                </h4>
                <img src="http://www.aviso.ua/img/bg_newbuild_btn.png" alt="Новостройки Киева и области">
                <img src="http://www.aviso.ua/img/bg_newbuild_btn.png" alt="Новостройки Киева и области">
                <img src="http://www.aviso.ua/img/bg_newbuild_btn.png" alt="Новостройки Киева и области">
                <img src="http://www.aviso.ua/img/bg_newbuild_btn.png" alt="Новостройки Киева и области">




            </aside>
        </div>
    </div>
</main>